*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
}
.sun{
    width: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.mercury{
    width: 30px;
    position: absolute;
    top: -10%;
    left: 40%;
    animation: orbit 5s linear infinite;
}

.mercury-brdr{
    position: relative;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.137);
    border-radius: 100%;
    width: 10%;
    height: 20%;
    left: 45%;
    top: 41%; 
    animation:orbit 5s linear infinite ;
}
.venus-brdr{
    position: relative;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.137);
    border-radius: 100%;
    width: 15%;
    height: 30%;
    left: 42.5%;
    top: 36%;
    animation:orbit 7s linear infinite ;
}
.venus{
    width: 30%;
    position: absolute;
    top: 4%;
    left: 70%;
    animation: orbit 7s linear infinite;
}
.earth-brdr{
    position: relative;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.137);
    border-radius: 100%;
    width: 20%;
    height: 40%;
    left: 40%;
    top: 31%;
    animation:orbit 9s linear infinite ;
}
.earth{
    width: 18%;
    position: absolute;
    top: 4%;
    left: 6%;
    animation: orbit 9s linear infinite;
}
.moon-brdr{
    position: relative;
    position: absolute;
    border: 2px solid transparent;
    border-radius: 100%;
    width: 30%;
    height: 30%;
    left: 0%;
    top: -2%;
    animation:orbit 3s linear infinite ;
}
.moon{
    width: 15%;
    position: absolute;
    top: 4%;
    left: 6%;
    animation: orbit 3s linear infinite;
}
.mars-brdr{
    position: relative;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.137);
    border-radius: 100%;
    width: 25%;
    height: 50%;
    left: 37.5%;
    top: 26%;
    animation:orbit 11s linear infinite ;
}
.mars{
    width: 10%;
    position: absolute;
    top: -5%;
    left: 50%;
    animation: orbit 8s linear infinite;
}
.jupiter-brdr{
    position: relative;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.137);
    border-radius: 100%;
    width: 30%;
    height: 60%;
    left: 35%;
    top: 22%;
    animation: orbit 13s linear infinite ;
}
.jupiter{
    width: 30%;
    position: absolute;
    top: 30%;
    left: -15%;
    animation: orbit 9s linear infinite;
}
.saturn-brdr{
    position: relative;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.137);
    border-radius: 100%;
    width: 35%;
    height: 70%;
    left: 32.5%;
    top: 18%;
    animation: orbit 18s linear infinite ;
}
.saturn{
    width: 30%;
    position: absolute;
    top: 93%;
    left: 33%;
    animation: orbit 10s linear infinite;
}
.uranus-brdr{
    position: relative;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.137);
    border-radius: 100%;
    width: 40%;
    height: 80%;
    left: 30%;
    top: 14%;
    animation: orbit 23s linear infinite ;
}
.uranus{
    width: 30%;
    position: absolute;
    top: 3%;
    left: 65%;
    animation: orbit 11s linear infinite;
}
.neptune-brdr{
    position: relative;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.137);
    border-radius: 100%;
    width: 45%;
    height: 90%;
    left: 27.5%;
    top: 10%;
    animation: orbit 28s linear infinite ;
}
.neptune{
    width: 10%;
    position: absolute;
    top: 41%;
    left: 95%;
    animation: orbit 12s linear infinite;
}

.pluto-brdr{
    position: relative;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.137);
    border-radius: 100%;
    width: 50%;
    height: 100%;
    left: 25%;
    top: 6%;
    animation: orbit 30s linear infinite ;
}
.pluto{
    width: 10%;
    position: absolute;
    top: 88%;
    left: 70%;
    animation: orbit 6s linear infinite;
}
@keyframes orbit {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}
